<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dc.backend.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="UserPojo">
        <result column="id" property="uid"/>
        <result column="name" property="uname"/>
        <result column="account" property="account"/>
        <result column="password" property="pwd"/>
        <result column="create_time" property="createAt"/>
        <result column="update_time" property="updateAt"/>
    </resultMap>
    <select id="login" resultType="UserPojo" resultMap="BaseResultMap">
        select * from wp_user where account=#{account}
    </select>
</mapper>